<!-- PAGE CONTENT OPEN -->
<section class="page_content">
  <div class="row"> 
       <!-- Left Content Open-->
       <div class="col-lg-4 col-md-6 col-12 pr-0 content_left">
        <app-page-left-cont></app-page-left-cont>
      </div>
      <!-- Left Content End--> 
    <!-- Right Content Open-->
    <div class="col-lg-8 col-md-6 col-12 pl-0 content_right">
      <!-- <div class="p-3 text-right border-bottom border-bottom-dark"> <a class="link_darkgray pr-3 border-right border-dark" href="#!"><i class="fa fa-cog"></i> Execute the project</a> <a class="link_darkgray ml-3" href="#!"><i class="fa fa-sitemap"></i> Got o the project flowt</a> </div> -->
      <div class="p-3 px-sm-5 py-sm-4 rightBodyPad">
          <!-- <div class="col-12 text-center">
              <h1 class="mb-4"> Data Stream Ingestion</h1>
          </div> -->

          <div class="col-12 drag-drop-cont large-data-control px-5 py-4">

              <div class="row">
                  <div class="col-lg-6 col-md-12 px-4 my-2">
                      <div class="form-group mb-0">
                          <label class="fon15">File type</label>
                          <div class="file_type_select">
                            <select class="border border-dark form-control rounded-0">
                              <option>Select File Type</option>
                              <option>Spredsheet</option>
                            </select>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-12 px-4 my-2">
                      <div class="form-group mb-0">
                          <label class="fon15">Frequency</label>
                          <div class="data-frequency-cont position-relative">
                              <input type="text" class="border border-dark form-control rounded-0" value="0" />
                              <div class="data-frequency-incdrc">
                                  <a href="javascript:void(0)" title="Increment" id="freqInc"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
                                  <a href="javascript:void(0)" title="Decrement" id="freqDec"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
                              </div>
                          </div>
                          
                      </div>
                  </div>
              </div>

          </div>

          <div class="col-12 my-4 p-0">
            <textarea placeholder="Enter flow creation comments" class="form-control border-medium p-3 flow-comments rounded-0"></textarea>
          </div>

          <div class="col-12 drag-drop-cont large-data-control px-5 py-4  my-4">

              <div class="row align-items-center d-flex justify-content-center">
                  <label class="mb-0 fon15 d-inline-block mx-3 align-middle">File location</label>
                  
                 
                      <input type="text" class="border d-inline-block w-50 border-dark form-control rounded-0" />
                 
                  
              </div>

          </div>

          <div class="row data_ingestion_buttons px-3">
             <div class="col-lg-8 col-md-12 px-0">
                <input class="form-control fon15 text_perple rounded-0 border border-lighter" type="text" name="" value="industry_2020_12" />
             </div>
             <div class="col-lg-4 col-md-12 pr-0">
                <button class="btn btn_perple float-left w-100 m-0 " title="Submit">Submit</button>
             </div> 
          </div>
      </div>
    </div>
    <!-- Right Content End--> 
  </div>
</section>
<!-- PAGE CONTENT END --> 